name: Swift
on: 
  push:
    branches: [master] 
jobs: 
  build:
    runs-on: [macos-latest] 
    env: 
      XC_VERSION: ${{ '11.4.1' }}
      XC_PROJECT: ${{ 'GitAction/GitAction.xcodeproj' }}
      XC_SCHEME: ${{ 'GitAction' }} 
    steps: 
    - name: Select latest Xcode 
      run: "sudo xcode-select -s /Applications/Xcode_$XC_VERSION.app" 
    - uses: actions/checkout@v2 
    - name: Run Unit and UI Tests 
      run: /usr/bin/xcodebuild test -project "$XC_PROJECT" -scheme "$XC_SCHEME" -destination 'platform=iOS Simulator,name=iPhone 11'

