name: Swift
on:
      pull_request:
            branches: main
jobs:
  build-and-UnitTest:
    runs-on: macos-latest
          
    env:
          XC_VERSION: ${{ '12.1.0' }}
          XC_PROJECT: ${{ 'GitAction/GitAction.xcworkspace' }}
          XC_SCHEME: ${{ 'GitAction' }}

    steps:  
      - name: Write a comment when unit test fails
        run: echo github
              
        
