name: Swift
on:
      pull_request:
            branches: main
jobs:
  build-and-UnitTest:
    runs-on: macos-latest
          
    env:
          XC_VERSION: ${{ '12.1.0' }}
          XC_PROJECT: ${{ 'GitAction/GitAction.xcworkspace' }}
          XC_SCHEME: ${{ 'GitAction' }}

    steps:  
    - name: Slack Success Message
      if: success()
      uses: tokorom/action-slack-incoming-webhook@v1.1.3
      env:
        INCOMING_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      with:
        text: Unit test Success.
        attachments: |
          [
            {
              "color": "good",
              "author_name": "${{ github.actor }}",
              "author_icon": "${{ github.event.sender.avatar_url }}",
              "fields": [
                {
                  "title": "Commit Message",
                  "value": "${{ env.COMMIT_MESSAGE }}"
                },
                {
                  "title": "GitHub Actions URL",
                  "value": "${{ github.event.repository.url }}/pulls/${{ github.run_number }}"
                }
              ]
            }
          ]
