name: Swift
on: 
      push:
        branches: [main] 
jobs: 
      build:
        runs-on: [macos-latest] 
        env: 
          XC_VERSION: ${{ '12.1.0' }}
          XC_PROJECT: ${{ 'GitAction/GitAction.xcodeproj' }}
          XC_SCHEME: ${{ 'GitAction' }}
        steps: 
        - name: Build site assets
          working-directory: ${{ github.workspace }}
          run: ls -la ../git_action_test/
        - name: Select latest Xcode 
          run: "sudo xcode-select -s /Applications/Xcode_$XC_VERSION.app" 
        - name: Install Dependencies
          run: |
            cd GitAction
            pod install --repo-update
          shell: bash
        - uses: actions/checkout@v2
        - name: Run Unit and UI Tests
          working-directory: ./iOS/IssueTracker
          run: /usr/bin/xcodebuild test -project “$XC_PROJECT” -scheme “$XC_SCHEME” -destination ‘platform=iOS Simulator,name=iPhone 11’ 
