name: Swift
on:
      push:
        branches: [main]
jobs: 
      build:
        runs-on: [macos-latest]
        env: 
          XC_VERSION: ${{ '12.1.0' }}
          XC_PROJECT: ${{ 'GitAction/GitAction.xcworkspace' }}
          XC_SCHEME: ${{ 'GitAction' }}

        steps:  
        - uses: actions/checkout@v2
    
        - name: pr close if test failed
          uses: actions/github-script@v3
          with:
                github-token: ${{secrets.GITHUB_TOKEN}}
                script: |
                    console.log(github.pulls.get())
                    console.log(github.pulls.list())
