name: "Push Slack Message"
on:
  pull_request:
    types: [opened, ready_for_review, reopened]
  push:

jobs:
  slackNotification:
    name: Notify Slack
    runs-on: ubuntu-latest
    
    env:
          XC_VERSION: ${{ '12.1.0' }}
          XC_PROJECT: ${{ 'GitAction/GitAction.xcworkspace' }}
          XC_SCHEME: ${{ 'GitActionTest' }}

    steps:
      - name: Get the version
        id: get_version
        run: echo "$VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
        
      - name: Slack Success Message
        if: success()
        uses: tokorom/action-slack-incoming-webhook@v1.1.3
        env:
          INCOMING_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          text: Test.
          attachments: |
            [
              {
                "color": "good",
                "author_name": "${{ github.actor }}",
                "author_icon": "${{ github.event.sender.avatar_url }}",
                "fields": [
                  {
                    "title": "github.event_path1",
                    "value": "${{ env.VERSION }}"
                  },
                  {
                    "title": "github.event_path2",
                    "value": "${{ github.ref.tags }}"
                  }
                ]
              }
            ]
