name: "Push Slack Message"
on:
  pull_request:
    types: [opened, ready_for_review, reopened]
  push:

jobs:
  slackNotification:
    name: Notify Slack
    runs-on: ubuntu-latest
    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
        
      - name: Slack Success Message
        if: success()
        uses: tokorom/action-slack-incoming-webhook@v1.1.3
        env:
          INCOMING_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          Tag: ${{ GITHUB_REF/refs\/tags\// }}
        with:
          text: Successfully automated deployment.
          attachments: |
            [
              {
                "color": "good",
                "author_name": "${{ github.actor }}",
                "author_icon": "${{ github.event.sender.avatar_url }}",
                "fields": [
                  {
                    "title": "github.event_path1",
                    "value": "${{ env.VERSION }}"
                  },
                  {
                    "title": "github.event_path2",
                    "value": "${{ github.ref.tags }}"
                  }
                ]
              }
            ]
